<ion-header>
  <ion-navbar>
    <ion-title>Add item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row col-12>
      <ion-searchbar placeholder="Name" (ionInput)="filterItems(searchInput)" [(ngModel)]="searchInput"></ion-searchbar>
    </ion-row>

    <ion-row col-12>
      <ion-item col-12>
        <ion-label col-5><h2>Department</h2></ion-label>          
        <ion-select col-7 [(ngModel)]="selectedDepartment" cancelText="Cancel" okText="Select">
          <span *ngFor="let department of departments">
              <ion-option value="{{department.getID()}}">{{department.getName()}}</ion-option>
          </span>
        </ion-select>
      </ion-item>

      <ion-row>
        <ion-item col-6>
          <ion-label color="primary" stacked>Amount</ion-label>
          <ion-input [(ngModel)]="selectedAmount" placeholder="0"></ion-input>
        </ion-item>

        <ion-item col-6>
          <ion-label color="primary" stacked>Unit</ion-label>
          <ion-select *ngIf="!disableUnitSelect"[(ngModel)]="selectedUnit" cancelText="Cancel" okText="Select">
            <span *ngFor="let unit of units">
              <ion-option value="{{unit.getID()}}">{{unit.getName()}}</ion-option>
            </span>
          </ion-select>
          <ion-select *ngIf="disableUnitSelect"[(ngModel)]="selectedUnit" disabled="true" cancelText="Cancel" okText="Select">
            <span *ngFor="let unit of units">
              <ion-option value="{{unit.getID()}}">{{unit.getName()}}</ion-option>
            </span>
          </ion-select>
        </ion-item>
      </ion-row>

    </ion-row>

    <ion-row col-12>
      <button ion-button full color="secondary" (click)="onCreateClick()">Add</button>    
    </ion-row>

    <ion-list>
      <ion-list-header id="item-list">
        <h2>All Items</h2>
      </ion-list-header>

      <button ion-item *ngFor="let item of items" (click)="onClickItemAlternative(item.getName())" large>
        <ion-label><h5>{{item.getName()}}</h5></ion-label>
      </button>
    </ion-list>
  </ion-grid>
</ion-content>
