<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{list.getName()}}</ion-title>
    <ion-buttons end *ngIf="!list.isEmpty()">
      <button class="icon-top-right" ion-button (click)="onClickShareList()"><ion-icon name="person-add"></ion-icon></button>      
      <button ion-button (click)="toggleEdit()"><ion-icon [name]="editIcon"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let departmentID of departmentIDs">
    <ion-list-header class="no-margin-bottom">
      <h2>{{getDepartmentName(departmentID)}}</h2>
    </ion-list-header>
    
    <button ion-item *ngFor="let item of getItems(departmentID)">
      <ion-checkbox [(ngModel)]="item.bought" item-start *ngIf="!editing"></ion-checkbox>
      
      <div class="item-note" item-content *ngIf="!editing">
        {{item.getName()}}
      </div>

      <div class="item-note" item-content *ngIf="editing" (click)="onEditItemName(item)">
          {{item.getName()}}
      </div>

      <div class="item-unit" item-end *ngIf="!editing">
        {{(item.getAmount() + ' ' + item.getUnit().getName())}} 
      </div>

      <div class="item-unit" item-end *ngIf="editing">
        <span (click)="onEditItemAmount(item)">
          {{item.getAmount()}}
        </span>
        <span (click)="onEditItemUnit(item)">
          {{item.getUnit().getName()}}
        </span>
      </div>

      <ion-note item-end *ngIf="editing">
        <ion-icon name="trash" (click)="onDeleteItem(item)"></ion-icon>
      </ion-note>
    </button>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab mini (click)="onClickCreateFAB()"><ion-icon name="add"></ion-icon></button>      
  </ion-fab>
</ion-content>


