<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{list.getName()}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let departmentID of departmentIDs">
    <ion-list-header class="no-margin-bottom">
      <h2>{{getDepartmentName(departmentID)}}</h2>
    </ion-list-header>
    
    <button ion-item *ngFor="let item of getItems(departmentID)">
      <ion-checkbox [(ngModel)]="item.bought" item-start></ion-checkbox>
      <div class="item-note" item-content>
        {{item.getName()}}
      </div>
      <div class="item-unit" item-end>
        {{(item.getAmount() + ' ' + item.getUnit())}}
      </div>
    </button>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab mini (click)="onClickCreateFAB()"><ion-icon name="add"></ion-icon></button>      
      <button ion-fab mini (click)="onClickShareList()"><ion-icon name="share-alt"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


