<ion-header>
  <ion-navbar>
    <ion-title>Departments</ion-title>
    <ion-buttons end>
      <button ion-button (click)="toggleEdit()"><ion-icon [name]="editIcon"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list [reorder]="editing" (ionItemReorder)="reorderData($event)">
    <button ion-item *ngFor="let department of departments">
      <ion-label style="display:none"></ion-label>

      <div col-12 class="item-note" item-content *ngIf="!editing"> {{department.getName()}}</div>
      <div col-12 class="item-note" item-content *ngIf="editing" (click)="onEditDepartmentName(department)"> {{department.getName()}}</div>

      <ion-note item-end *ngIf="editing">
        <ion-icon name="trash" (click)="onDeleteDepartment(department)"></ion-icon>
      </ion-note>
    </button>
  </ion-list>
</ion-content>

<ion-fab bottom right>
    <button ion-fab mini (click)="onClickCreateFAB()"><ion-icon name="add"></ion-icon></button>
</ion-fab>