<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lists</ion-title>
    <ion-buttons end *ngIf="lists.length != 0">
      <button ion-button (click)="toggleEdit()"><ion-icon [name]="editIcon"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="container">
<ion-grid no-padding>

  <div id="list-intro" *ngIf="lists.length < 1">
    <ion-row>
      <ion-icon col-12 name="list" text-center id="list-icon"></ion-icon>
    </ion-row>
    <ion-row>
      <h2 col-12 text-center>Create your first list<br>just tap the blue button</h2>    
    </ion-row>
  </div>

  <ion-list [reorder]="editing" (ionItemReorder)="reorderData($event)">
      <button ion-item *ngFor="let list of lists" (click)="onClickList(list)">
          <ion-label>{{list.getName()}}</ion-label>
          <span item-end>
            <round-progress
              [current]="list.purchasedItemCount()" 
              [max]="list.getItems().length"
              [stroke]="3"
              [radius]="14">
            </round-progress>
          </span>
          <ion-note item-end *ngIf="editing">
              <ion-icon name="trash" (click)="onDeleteList(list)"></ion-icon>
          </ion-note>
        </button>
  </ion-list>
</ion-grid>
</ion-content>

<ion-fab bottom right>
    <button ion-fab mini (click)="onClickCreateFAB()"><ion-icon name="add"></ion-icon></button>
</ion-fab>