page-home {
  #container {
    background-color: #F1F5F4;
  }

  #list-icon {
    font-size:6em;
  }

  #list-intro {
    margin-top:30%;
    color: #3CBCC7;
  }

  .edited-time {
    font-size:0.5em; 
    color:grey; 
    margin-left:1.5%;
  }
}
